.signup{
  display: flex;
  justify-content: center;
}
mat-card{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 30%;
  width: 80%;
}
mat-form-field{
  width: 100%;
}
mat-spinner{
  margin: auto;
}

